<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Test Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- css -->
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
<link rel="stylesheet" th:href="@{/static/css/test_manage.css}" type="text/css" />

<!-- script -->
<script type="text/javascript" th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/vue-v.2.5.22.js}"></script>
<script src="//unpkg.com/iview/dist/iview.min.js"></script>
<script type="text/javascript" th:src="@{/static/script/test_manage.js}"></script>
</head>
<body>
	
	<section style="width: 100%;" id="app">
		<!-- 测试任务编辑弹窗 -->
		<Modal v-model="showTestTaskEditor" draggable scrollable title="Create New Test">
	        <div>This is the first modal</div>
	    </Modal>
		<div class="test-manage-continer">
			<div class="test-manage-continer-header">
				<i-button @click="createTestTask" type="success">+Create Test</i-button>
			</div>
			
			<div class="test-table-container">
				<i-table :columns="testManageColumns" :data="testManageDatas"></i-table>
			</div>
		</div>
	</section>
	
</body>

</html>